<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  
    <title>CHAT.io</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body onload="evento()">
    <h1>Chat dos Patos (está em beta, calma)</h1>
    <div id="chat">

    </div>

    <textarea id="msg" cols="100" rows="1" maxlength="100" class="form-control" placeholder="Digite sua mensagem"></textarea><br>
    <input type="text" id="username" class="form-control" disabled>
    <button onclick="enviar()" class="btn btn-primary btn-lg btn-block">Enviar</button>

    <footer>

    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="/js/script.js"></script>

</html>