#chat{
    max-height: 500px;
    min-height: 500px;
    display: block;
    background-color: aliceblue;
    overflow-y: scroll;
    margin-bottom: 10px;
}

p{
    word-wrap: break-word;
    margin-left: 10px;
}


.imagemURL{
    max-width: 500px;
    height: 300px;    
}

div{
    margin-top: 5px;
    display: flex;
}

.perfil{
    width: 30px;
    height: 30px;
}

button{
    width: 100%;
    margin-bottom: 2em;
}
footer{
    background-color: aliceblue;
    position: absolute;
    width: 100%;
}

