#chat{
    max-height: 500px;
    min-height: 500px;
    background-color: aliceblue;
    overflow-y: scroll;
    margin-bottom: 10px;
}



button{
    width: 100%;
    margin-bottom: 2em;
}
footer{
    background-color: aliceblue;
    position: absolute;
    width: 100%;
}